body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#timer{
    position: relative;
    top:20%;
    left: 8%;
    font-size: 30px;
}

#start{
   position: relative;
    left: 5%;
    top:13%;
}
 #stop{
    position: relative;
    left: 6%;
    top:13%;
 }
 #reset{
    position: relative;
    left: 7%;
    top:13%;
 }